.container{
    .form-zoom-card{
        background-color: rgba(69, 78, 105, 0.226);
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .form-zoom-card__background{
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 0 2px 0px rgba(63, 74, 97, 0.705);
            padding: 1em;
            max-width: 50vw;

            .form-zoom-card__background__top-block{
                img{
                    height: 50vh;
                    width: auto;
                    max-width: 50vw;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
                .form-zoom-card__background__top-block__info{
                    display: flex;
                    div:last-child{
                        margin-left: auto;
                    }
                }
            }

            .form-zoom-card__background__desc-block{
                margin-top: 1em;
            }
        }
    }
}