@import '../../resourses/css/abstracts/colors.scss';

.container__menu{
    display: flex;
    justify-content: space-between;
    padding: 1em .5em ;
    background-color: $deep-blue;
    font-size: 100%;

    .container__menu__title{
        color: rgb(255, 240, 246);
        font-size: 120%;
        font-family: Arial, Helvetica, sans-serif;
    }
}