
.container{
    .form-add-card{
        background-color: rgba(69, 78, 105, 0.226);
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .form-add-card__background{
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 0 2px 0px rgba(63, 74, 97, 0.705);
            padding: 1em;
            .form-add-card__background__content{
                display: flex;
                flex-direction: column;
                > *{
                    margin: .8em 0;
                }
                textarea{
                    max-width: 300px;
                    max-height: 200px;
                }
            }
        }
        button{
            display: block;
            margin-left: auto;
        }
    }
}