@import '../../resourses/css/abstracts/colors.scss';
@import '../../resourses/css/components/button.scss';

html, body{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    font-size: 100%;
    height: 100vh;
}

#app{
    height: 100%;
    .container{
        background-color: $deep-blue;
        font-size: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex: 1;
        
        .container__dashboard{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            background-color: white;
            height: 100%;
            overflow: auto;
        }
    }
}