
$raduis: 2px;

.container__dashboard__image-card{
    display: flex;
    flex-direction: column;
    margin: .9em;
    position: relative;
    height: fit-content;
    background-color: rgba(83, 83, 102, 0.103);
    &:hover{
        box-shadow: 0 0 3px 0px rgba(136, 129, 163, 0.589); 
    }

    &:active{
        transform: scale(.98);
    }

    .container__dashboard__image-card__top-block{
        display: flex;
        a:last-child{
            margin-left: auto;
        }
        a{
            margin: 0 .2em;
        }
    } 

    .dots{
        position: absolute;
        top: .2em;
        right: .2em;
        color: rgba(238, 238, 244, 0.74);
        background-color: rgba(182, 184, 196, 0.144);
        border-radius: 50%;
        &:hover{
            background-color: rgba(182, 184, 196, 0.37);
        }
        
    }
    .container__dashboard__image-card__bottom-block{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 85%;
        color: rgb(46, 48, 61);
        border-bottom-left-radius: $raduis;
        border-bottom-right-radius: $raduis;
        background-color: rgba(83, 83, 102, 0.103);
        .container__dashboard__image-card__short-desc{
            display: flex;
            justify-content: space-between;
            > div:first-child{
                margin-right: .5em;
            }
            > div{
                padding: .3em .2em;
            }
        }
    }

    img{
        height: 170px;
        width: auto;
        // min-width: 130px;
        border-top-left-radius: $raduis;
        border-top-right-radius: $raduis;
    }
}

