.btn{
            margin-right: .5em;
            background-color: #b7bcca4d;
            border-radius: 5px;
            border: solid 2px #5f6470ee;
            &:active{
                transform: scale(.9);
            }
            span{
                color: rgba(247, 239, 241, 0.808);
                font-family: Arial, Helvetica, sans-serif;
                font-size: 90%;
                padding: .5em .7em;
                cursor: pointer;
            }
        }